@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #FF4B2B;
    --secondary-color: #e8781b;
    --text-color:#444444;
}

body{
   font-family: poppins;
   color: var(--text-color);
}

.container{
    width: 86%;
    margin: auto;
}

.text-primary{
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.btn-primary:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-secondary{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.btn-secondary:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
